{{> head }} 
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Main Draven</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea impedit, voluptatum temporibus enim consectetur laudantium. Autem, eius ullam! Illo commodi libero vitae! Ex totam nobis minima quibusdam vitae, tempora at!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/drav.png" class="img-thumbnail">
    </div>

</div>
{{> footer }}